.wrapper {
  padding: 2rem;
  font-size: 1rem;
}
.brand {
  margin-top: 3em;
  display: flex;
}
.img_w {
  flex: 0 0 45%;
}
.img_w img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.details {
  margin-left: 5em;
  flex: 0 0 calc(100% - 45% - 5em);
  color: var(--clr-text);
}
.details h2 {
  margin: 1em 0;
}
.dls {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
dl {
  font-size: 0.9em;
}
dt,
dd {
  display: inline-block;
}
dt::after {
  content: ":";
  padding-right: 0.2em;
}
dt {
  font-weight: 600;
}
@media (max-width: 1024px) {
  .brand {
    flex-direction: column;
    align-items: center;
  }
  .details {
    margin: 0;
  }
}
@media (max-width: 640px) {
  .wrapper {
    padding: 2em 1em;
  }
  .details dl + dl {
    margin-top: 2em;
  }
}
